<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="Board">
	<insert id="bWrite" parameterType="board">
		INSERT INTO BOARDDTO 
		VALUES(BOARDDTO_SEQ.NEXTVAL, #{BWriter}, #{BTitle}, #{BContent}, SYSDATE, 0, #{BFileName})
	</insert>
	
	<select id="bListCount" resultType="int">
		SELECT COUNT(*) FROM BOARDDTO
	</select>
	
	<select id="bList" parameterType="paging" resultType="board">
		SELECT * FROM BOARDDTOLIST WHERE RN BETWEEN #{startRow} AND #{endRow}
	</select>
	
	<update id="bHit">
		UPDATE BOARDDTO SET BHIT = BHIT + 1 WHERE BNO=#{BNo}
	</update>
	
	<select id="bView" parameterType="int" resultType="board">
		SELECT * FROM BOARDDTO WHERE BNO=#{BNo}
	</select>
	
	<update id="bModify" parameterType="board">
		UPDATE BOARDDTO 
		SET BTITLE=#{BTitle}, BCONTENT=#{BContent}, BFILENAME=#{BFileName} 
		WHERE BNO=#{BNo}
	</update>
	
	<delete id="bDelete" parameterType="int">
		DELETE FROM BOARDDTO WHERE BNO=#{BNo}
	</delete>
	
	<select id="bsWriter" parameterType="String" resultType="board">
		SELECT * FROM BOARDDTO WHERE BWRITER LIKE '%'||#{keyword}||'%' ORDER BY BNO DESC
	</select>
	
	<select id="bsTitle" parameterType="String" resultType="board">
		SELECT * FROM BOARDDTO WHERE BTITLE LIKE '%'||#{keyword}||'%' ORDER BY BNO DESC
	</select>
	
	<select id="bsContent" parameterType="String" resultType="board">
		SELECT * FROM BOARDDTO WHERE BCONTENT LIKE '%'||#{keyword}||'%' ORDER BY BNO DESC
	</select>
	
	<select id="cList" parameterType="int" resultType="comment">
		SELECT * FROM COMMENTDTO WHERE CBNO=#{CBNo} ORDER BY CNO DESC
	</select>
	
	<insert id="cWrite" parameterType="comment">
		INSERT INTO COMMENTDTO VALUES(CMT_SEQ.NEXTVAL, #{CBNo}, #{CWriter}, #{CContent})
	</insert>
	
	<delete id="cDelete" parameterType="comment">
		DELETE FROM COMMENTDTO WHERE CNO=#{CNo}
	</delete>
</mapper>